* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
}

body {
  margin: 0;
}

html,
body,
div[id="root"] {
  height: 100% !important;
}

button {
  margin: 2rem 0;
  padding: 1rem 2rem;
  width: 7.5rem;
  cursor: pointer;
  border: 0.0625rem solid;
}

img {
  width: 7.5rem;
  padding: 0.125rem;
}
.profile {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
}

.user-rooms {
  width: 25%;
  height: 100%;
}
.chat-feed {
  width: 50%;
  height: 100%;
  color: rgb(167, 158, 25);
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.room-details {
  width: 25%;
  height: 100%;
  border: 0.0625rem solid;
}

.message-room {
  background-color: #eb5e55;
  font-size: 1.5625rem;
  padding-left: 0.625rem;
  color: #000000;
  border-top: 0.0625rem solid;
}
.message-room-type {
  font-size: 0.9375rem;
}

.message-room:hover {
  box-shadow: 0.3125rem 0.625rem 0.5rem 0.625rem rgb(0, 0, 0);
}

.user-ui-header {
  padding-top: 5px;
}

.search-button {
  padding: 0.125rem;
}

.create-group-room {
  padding-top: 0.625rem;
  display: flex;
  orientation: row;
  justify-content: space-evenly;
}

.search-user {
  display: flex;
  orientation: row;
  justify-content: space-evenly;
}
